  // Footer Form  Sub

  .sub {
    margin-left: 93px;
  
  
    &-text {
    @include font(14px, 700, 1.14, 0.03em);

    display: block;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--whole-white-color);
    font-family: "Roboto";
    font-style: normal;
  }
  
  &-input {
    color: var(--whole-white-color);
    background-color: var(--background-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    width: 358px;
    height: 50px;
  }
  
  &-input:focus {
    border: 1px solid var(--focus-color);
    outline: none;
    cursor: var(--focus-color);
  }
  
  &-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}